.graphTableTitle {
  display: flex;
  align-items: center;
  p {
    font-size: 28px;
    padding: 0px;
    margin: 0px;
  }
  svg {
    position: absolute;
    cursor: pointer;
    top: 122px;
    left: 18px;
    z-index: 10001;
  }
}